{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
    <link rel="stylesheet"
          href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Bingsu and Dessert{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">🍧 Bingsu & Dessert 🍦</h1>
  <p class="lead">Craving for bingus and dessert in Singapore?</p>
  <hr class="my-4">
  <p>You've found the right place! Checkout Yani's collection of cafes and restaurants with data on ambience, seating availability and dessert quality.</p>
  <a class="btn btn-warning btn-lg" href="{{ url_for('cafes') }}" role="button">Show Me!</a>
</div>
    </div>

{% endblock %}
